.task-card{
    border: 1px solid wheat;
    border-radius: 10px;
    box-shadow:5px 5px 5px wheat ;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.task-container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 20px;        
}
.task-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}
.task-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(31, 28, 14);
}
.task-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 143, 8);
    font-weight: 10px;
}
.task-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.task-date {
  color: #555;
  font-size: 1rem;
}